.wrapper {
    position: relative;
    width: 1140px;
    height: 1228px;
    top: 525px;
    left: 146px;
}

.heading{
    font-size: 54px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 100px;
}

.wrapper img{

    height:342px;
    width: 100%;
}

.cardTitle {

    position: relative;
    text-align: center;
    top: -60px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

.card{
    padding-top: 0px !important;
}